<footer class="navbar fixed-bottom navbar-expand-lg">
    <div class="justify-content-end">
        <p class="navinferior">Copyright © EVALUACION VIAJEROS. Todos los derechos reservados.            ¬    <a href="/autores" class="autorfooter">Acerca de los autores.</a></p>
        {{!-- <a href="autores.hbs" class="autorfooter">Acerca de los autores.</a> --}}
    </div>
</footer>