<footer class="navbar fixed-bottom navbar-expand-lg">
    <div class="justify-content-end">
        <p class="navinferior">Copyright © EVALUACION VIAJEROS. Todos los derechos reservados.</p>
    </div>
</footer>