{{!-- 
        AQUI DEBEMOS CAMBIAR LOS HEADERS DENTRO DEL IF IRIA EL HEADER EL USUARIO
        DENTRO DEL ELSE IRIA EL DEL ADMINISTRADOR
 --}}
 
{{#if inicio}}
   <header>
                            <div class="main-menu-area text-center">

                                <nav class="navbar navbar-expand-lg  fixed-top" style="background-color: #727bff;">
                                    <div class="container-fluid">
                                        <a class="navbar-brand" href="#">
                                            <img src="img/logo.png">
                                        </a>
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#navbarSupportedContent"
                                            aria-controls="navbarSupportedContent" aria-expanded="false"
                                            aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                <li class="nav-item buttonnav">
                                                    <a class="nav-link active" aria-current="page" href='/noticias'>Inicio</a>
                                                </li>
                                                <li class="nav-item dropdown buttonnav">
                                                    <a class="nav-link dropdown-toggle active" href="#" role="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        Comenzar registro
                                                    </a>
                                                    <ul class="dropdown-menu active menudesplegable submenu2">
                                                        <li><a class="dropdown-item submenu" 
                                                        href='/identificacion'>Identificación del
                                                                Pasajero</a></li>
                                                        <li ><a class="dropdown-item submenu"
                                                                href="/contacto-personal">Contacto personal</a></li>
                                                        <li><a class="dropdown-item submenu" href="/identificacion-del-viaje">Información
                                                                del viaje</a></li>
                                                        <li><a class="dropdown-item submenu"
                                                                href="/condicion-medica">Condición Médica</a></li>
                                                        <li><a class="dropdown-item submenu"  href="/informacion-medica">Información
                                                                médica relacionada con COVID-19.</a></li>
                                                        <li><a class="dropdown-item submenu"
                                                                href="/exposicion-directa">Exposición directa con un
                                                                paciente COVID-19 positivo </a></li>
                                                        <li><a class="dropdown-item submenu" href="/signos">Signos</a></li>
                                                    </ul>
                                                </li>
                                                <li class="nav-item buttonnav active">
                                                    <a class="nav-link active" href='/comprobante-de-vacunacion'>Comprobante vacunación</a>
                                                </li>
                                                <li class="nav-item buttonnav active">
                                                    <a class="nav-link active" href='/resultados'>Resultados</a>
                                                </li>
                                                <li class="nav-item buttonnav ">
                                                    <a class="nav-link active" href="/cerrar_sesion">Cerrar Sesión</a>
                                                </li>
                                            </ul>
                                            <form class="d-flex" role="search">
                                                <input class="form-control me-2" type="search" placeholder="Buscar"
                                                    aria-label="Search">
                                                <button class="btn btn-outline-success btnbuscar" type="submit">Buscar</button>
                                            </form>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            </div>
                        </div>
                        </header>
{{else}}
 <header>
                            <div class="main-menu-area text-center">

                                <nav class="navbar navbar-expand-lg  fixed-top" style="background-color: #727bff;">
                                    <div class="container-fluid">
                                        <a class="navbar-brand" href="#">
                                            <img src="img/logo.png">
                                        </a>
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#navbarSupportedContent"
                                            aria-controls="navbarSupportedContent" aria-expanded="false"
                                            aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                  <li class="nav-item buttonnav">
                                                    <a class="nav-link active" aria-current="page" href='/noticias'>Inicio</a>
                                                </li>
                                                <li class="nav-item buttonnav">
                                                    <a class="nav-link active" aria-current="page" href='/pasajeros'>Pasajeros</a>
                                               </li>
                                        
                                                <li class="nav-item buttonnav active">
                                                    <a class="nav-link active" href='/administradores'>Administradores</a>
                                                </li>
                                                <li class="nav-item buttonnav active">
                                                    <a class="nav-link active" href='/categorias'>Escala</a>
                                                </li>
                                                <li class="nav-item buttonnav active">
                                                    <a class="nav-link active" href='/formularios'>Formularios</a>
                                                </li>
                                                <li class="nav-item buttonnav ">
                                                    <a class="nav-link active" href="/cerrar_sesion">Cerrar Sesión</a>
                                                </li>
                                            </ul>
                                            <form class="d-flex" role="search">
                                                <input class="form-control me-2" type="search" placeholder="Buscar"
                                                    aria-label="Search">
                                                <button class="btn btn-outline-success btnbuscar" type="submit">Buscar</button>
                                            </form>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            </div>
                        </div>
</header>
{{/if}}