<aside class="sidebar">

            <ul class="menusidebar">
                <h3 class="barradatos">
                    PÁGINAS OFICIALES:
                </h3> <br>
                <li><a href="https://coronavirus.gob.mx/">°Todo sobre el COVID-19-GOB.MX</a></li><br>
                <li><a href="https://covid19.ciga.unam.mx/">°Plataforma de información geográfica de la UNAM sobre COVID-19 en México.</a></li><br>
                <li><a href="https://apps.who.int/iris/most-popular/country?locale-attribute=es&#nbitems=10">°Estadísticas
                        por país OMS.</a></li><br>
            </ul>
        </aside>