<configuration>
    <system.webServer>
        <modules>
            <remove name="WebDAVModule" />
        </modules>

        <handlers>
        <remove name="WebDAV" />
            <add name="iisnode-socketio" path="server.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="sendToNode">
                    <match url="/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        <webSocket enabled="false" />
        <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" loggingEnabled="true" devErrorsEnabled="true" maxLogFiles="20" />
    </system.webServer>
</configuration>
